* {
    font-family: 'Creepster', cursive;
}

#game {
    position: absolute;
    width: 98vw;
    height: 95vh;
}

html {
    overflow: hidden;
    background-image: url("assets/Halloween_Red.png");
    height: 98vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sky {
    width: 98vw;
    height: 90vh;
    position: absolute;
}

#ground {
    width: 98vw;
    height: 5vh;
    position: absolute;
    top: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    background-image: url("assets/ghost.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 6vw;
    right: 74vw;
    bottom: 40vh;
    height: 6vw;
    position: absolute;
}